
<div class="container text-center">
    <h1>About Page</h1>
    <p>We are MazeStyle. Our company focuses on delivering quality sports wears. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, 
    praesentium, rerum, assumenda minima quibusdam veniam ad dolores ut cupiditate ab quaerat quisquam eos sit distinctio necessitatibus numquam 
    fuga repellendus mollitia!
    </p>
</div>